<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<head>
    <title>Store-List</title>

    <!-- JQUERY LIBRARY -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
        .form-group {
            text-align: left;

        }

        /* addStore 클래스는 버튼을 부모 컨테이너의 왼쪽에 고정시키기 위해 사용됩니다. */
        .addStore {
            /* 부모 컨테이너를 기준으로 위치를 절대적으로 설정합니다. */
            position: absolute;
            /* 버튼을 부모 컨테이너의 가장 왼쪽에 배치합니다. */
            left: 0;
        }

        /* page-num 클래스는 버튼의 위치 설정을 위한 기준을 제공하기 위해 사용됩니다. */
        .page-num {
            /* 자식 요소들이 이 컨테이너를 기준으로 위치를 설정할 수 있도록 합니다. */
            position: relative;
        }
    </style>
</head>

<body>
<div layout:fragment="content">
    <div id="mallName"></div>

    <script th:inline="javascript">
        $(document).ready(function () {
            // 초기에는 저장 버튼을 비활성화 한다.
            $('#create-button').prop('disabled', true);

            var isEmailChecked = false;
            var isBusinessNumberChecked = false;

            function enableSubmitButton() {
                if (isEmailChecked && isBusinessNumberChecked) {
                    $('#create-button').prop('disabled', false);
                } else {
                    $('#create-button').prop('disabled', true);
                }
            }

            // 페이지 로드 시 AJAX 요청
            $.ajax({
                url: '/complexmall/name',
                type: 'GET',
                dataType: 'text',
                success: function (data) {
                    console.log('Data:', data);
                    // 수신된 데이터로 결과 div 업데이트
                    $('#mallName').html('<h1>' + data + ' 매장 리스트</h1>');
                },
                error: function (xhr, status, error) {
                    // 오류 처리
                    console.error('Error:', error);
                }
            });

            // 사업자 아이디 중복 확인
            $('#checkDuplicateEmail').click(function () {
                const email = $('#createStoreManagerId').val();
                const feedbackElement = $('#emailFeedback');

                if (validateEmail(email)) {
                    $.ajax({
                        url: '/manager/checkDuplicateEmail',
                        type: 'POST',
                        data: JSON.stringify({email: email}),
                        contentType: 'application/json',
                        success: function (response) {
                            if (response.isDuplicate) {
                                feedbackElement.text("이미 사용 중인 이메일입니다.").show();
                                feedbackElement.css("color", "red");
                            } else {
                                feedbackElement.text('사용 가능한 메일입니다.').show();
                                feedbackElement.css("color", "green");
                                isEmailChecked = true; // 이메일 중복 확인이 완료되었음을 설정
                                enableSubmitButton();
                            }
                        },
                        error: function () {
                            feedbackElement.text('중복 확인 중 오류가 발생했습니다.').show();
                            feedbackElement.css("color", "red");
                        }
                    });
                } else {
                    feedbackElement.text('유효한 이메일 주소를 입력하세요.').show();
                    feedbackElement.css("color", "red");
                }
            });

            // 사업자 번호 중복 확인
            $('#checkDuplicateBusinessNumber').click(function () {
                const businessNumber = $('#createBusinessNumber').val();
                const feedbackElement = $('#businessNumberFeedback');

                $.ajax({
                    url: '/manager/checkDuplicateBusinessNumber', // 서버의 엔드포인트 URL을 설정합니다.
                    type: 'POST',
                    data: JSON.stringify({businessNumber: businessNumber}),
                    contentType: 'application/json',
                    success: function (response) {
                        if (response.isDuplicate) {
                            feedbackElement.text("이미 사용 중인 사업자 번호입니다.").show();
                            feedbackElement.css("color", "red");
                        } else {
                            feedbackElement.text('사용 가능한 사업자 번호입니다.').show();
                            feedbackElement.css("color", "green");
                            isBusinessNumberChecked = true; // 사업자 번호 중복 확인이 완료되었음을 설정
                            enableSubmitButton();
                        }
                    },
                    error: function () {
                        feedbackElement.text('중복 확인 중 오류가 발생했습니다.').show();
                        feedbackElement.css("color", "red");
                    }
                });
            });

            // 매장 추가 버튼을 클릭했을 때 모달을 띄우는 함수
            $('.addStore').click(function () {
                $('#storeCreateModal').modal('show'); // 모달 표시
            });

            // 닫기 버튼을 눌렀을 때 모달 닫기
            $('.modal-footer .btn-secondary').click(function () {
                $('#storeCreateModal').modal('hide'); // 모달 닫기
            });

            // 사업자 번호 유효성 검사
            $('#createBusinessNumber').on('input', function () {
                validateBusinessNumber(this);
            });

            // 비밀번호 일치 확인
            $('#CreateStoreManagerPassword, #ConfirmStoreManagerPassword').on('input', validatePasswordMatch);
        });

        function validateBusinessNumber(input) {
            var businessNumber = input.value;
            var regex = /^[0-9]{3}-[0-9]{2}-[0-9]{5}$/;

            if (!regex.test(businessNumber)) {
                input.setCustomValidity('사업자 번호를 xxx-xx-xxxxx 형식으로 입력하세요');
                input.reportValidity(); // 유효성 검사 메시지를 표시
            } else {
                input.setCustomValidity('');
            }
        }

        function validatePasswordMatch() {
            const password = $('#createStoreManagerPassword').val();
            const confirmPassword = $('#ConfirmStoreManagerPassword').val();

            if (password !== confirmPassword) {
                $('#ConfirmStoreManagerPassword')[0].setCustomValidity('비밀번호가 일치하지 않습니다');
            } else {
                $('#ConfirmStoreManagerPassword')[0].setCustomValidity('');
            }
        }

        function validateEmail(email) {
            const regex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
            return regex.test(email);
        }
    </script>


    <div class="container-fluid pt-4 px-4">
        <div class="bg-light text-center rounded p-4">

            <form action="#" th:action="@{/store/list}" th:object="${searchRequest}" method="get">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="storeType">Store Type:</label>
                            <select th:field="*{storeType}" class="form-control" id="storeType">
                                <option value="">Select a storeType</option>
                                <option th:each="storeType : ${T(com.ssg.starroadadmin.shop.enums.StoreType).values()}"
                                        th:value="${storeType.getName()}" th:text="${storeType.getName()}">
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="floor">Floor:</label>
                            <select th:field="*{floor}" class="form-control" id="floor">
                                <option value="">Select a floor</option>
                                <option th:each="floor : ${T(com.ssg.starroadadmin.shop.enums.Floor).values()}"
                                        th:value="${floor}" th:text="${floor.getFloor()} + 층">
                                </option>
                            </select>
                        </div>

                    </div>
                </div>
                <div class="form-group mt-2">
                    <label for="storeName">Store Name:</label>
                    <input type="text" th:field="*{storeName}" class="form-control" id="storeName"
                           placeholder="Enter store name">
                </div>
                <button type="submit" class="m-2 btn btn-primary">Search</button>
            </form>
        </div>

        <div class="bg-light text-center rounded px-4 pt-4 my-3">
            <!--            storeListResponses데이터 들고와서 테이블로 출력-->
            <div class="table-responsive my-2">
                <table class="table text-start align-middle table-bordered table-hover mb-0">
                    <thead>
                    <tr class="text-dark">
                        <th class="text-center col" scope="col">No</th>
                        <th class="text-center col" scope="col">매장명</th>
                        <th class="text-center col" scope="col">로고 이미지</th>
                        <th class="text-center col" scope="col">매장 타입</th>
                        <th class="text-center col" scope="col">층수</th>
                        <th class="text-center col" scope="col">연락처</th>
                        <th class="text-center col" scope="col">리뷰수</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="store : ${storeList}" th:onclick="|location.href='@{/store/detail/}' + ${store.id()}|">
                        <td class="text-center col" th:text="${(pages.number) * 10 + storeStat.count}">No</td>
                        <!--                        <td class="text-center col-3">-->
                        <!--                            <a th:text="${store.name()}" th:href="@{'/store/detail/' + ${store.id()}}">Store Name</a>-->
                        <!--                        </td>-->
                        <td class="text-center col-3" th:text="${store.name()}">Store Name</td>
                        <td class="text-center col-2"><img th:src="${store.imagePath()}" alt="store logo" width="100"
                                                           height="100"></td>
                        <td class="text-center col-2" th:text="${store.storeType()}">Store Type</td>
                        <td class="text-center col-1" th:text="${store.floor().getFloor()} + 층">Store Floor</td>
                        <td class="text-center col-2" th:text="${store.contactNumber()}">Store Contact Number</td>
                        <td class="text-center col-1" th:text="${store.reviewCount()} + 개">Store Review Count</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <!-- 페이지네이션 -->
            <nav class="page-num d-flex justify-content-center mt-3" aria-label="Page navigation"
                 th:with="start=${pages.number * pages.size + 1},
              end=${((pages.number + 1) * pages.size < pages.totalElements) ? (pages.number + 1) * pages.size : pages.totalElements}">
                <!-- Button trigger modal -->

                <button type="button" class="mb-3 btn btn-primary addStore" data-toggle="modal"
                        data-target="#storeCreateModal">
                    매장추가
                </button>


                <!-- Modal -->
                <div class="modal fade" id="storeCreateModal" tabindex="-1" role="dialog"
                     aria-labelledby="storeCreateModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="storeCreateModalLabel">매장 추가</h5>

                            </div>
                            <div class="modal-body">
                                <!-- 여기에 매장 추가 폼을 넣습니다. -->
                                <form action="/store/create" method="post" th:object="${storeCreateRequest}"
                                      enctype="multipart/form-data">
                                    <!-- 폼 필드 예제 -->
                                    <div class="form-group">
                                        <label for="createStoreManagerName">사업자 이름</label>
                                        <input type="text" class="form-control" id="createStoreManagerName"
                                               name="createStoreManagerName" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="createStoreManagerId">사업자 아이디</label>
                                        <div class="input-group">
                                            <input type="email" class="form-control" id="createStoreManagerId"
                                                   name="createStoreManagerId" required>
                                            <button class="btn btn-primary" type="button" id="checkDuplicateEmail">중복
                                                확인
                                            </button>
                                        </div>
                                        <!-- 경고 문구를 표시할 요소 추가 -->
                                        <div id="emailFeedback" class="invalid-feedback" style="display: none;"></div>
                                    </div>
                                    <div class="form-group">
                                        <label for="createStoreManagerPassword">사업자 비밀번호</label>
                                        <input type="password" class="form-control" id="createStoreManagerPassword"
                                               name="createStoreManagerPassword" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="ConfirmStoreManagerPassword">비밀번호 확인</label>
                                        <input type="password" class="form-control" id="ConfirmStoreManagerPassword"
                                               name="ConfirmStoreManagerPassword" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="createBusinessNumber">사업자 번호</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" id="createBusinessNumber"
                                                   name="createBusinessNumber" required
                                                   oninput="validateBusinessNumber(this)">
                                            <button class="btn btn-primary" type="button"
                                                    id="checkDuplicateBusinessNumber">중복 확인
                                            </button>
                                        </div>
                                        <!-- 경고 문구를 표시할 요소 추가  -->
                                        <div id="businessNumberFeedback" class="invalid-feedback"
                                             style="display: none;"></div>
                                    </div>
                                    <div class="form-group">
                                        <label for="createStoreName">매장 이름</label>
                                        <input type="text" class="form-control" id="createStoreName"
                                               name="createStoreName" required>
                                    </div>
                                    <div class="form-group mt-2">
                                        <select class="form-select mt-2" id="createStoreFloor" name="createStoreFloor">
                                            <option value="">매장 층수</option>
                                            <option th:each="Floor : ${T(com.ssg.starroadadmin.shop.enums.Floor).values()}"
                                                    th:value="${Floor}" th:text="${Floor.getFloor()}">
                                            </option>
                                        </select>
                                    </div>
                                    <div class="form-group mt-2">
                                        <select class="form-select mt-2" id="createStoreType" name="createStoreType">
                                            <option value="">매장 타입</option>
                                            <option th:each="storeType : ${T(com.ssg.starroadadmin.shop.enums.StoreType).values()}"
                                                    th:value="${storeType.getName()}" th:text="${storeType.getName()}">
                                            </option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="createStoreGuideMap">매장 안내도</label>
                                        <input type="file" class="form-control" accept="image/*"
                                               id="createStoreGuideMap" name="createStoreGuideMap" required>
                                    </div>
                                    <!-- authority(권한) 이 부분은 무조건 store로 추가해야 함 -->
                                    <!-- 추가 폼 필드 여기에 추가 -->
                                    <button type="submit" id="create-button" class="btn btn-primary mt-3">저장</button>
                                </form>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                            </div>
                        </div>
                    </div>
                </div>

                <ul class="pagination">
                    <li class="page-item" th:if="${pages.number > 0}">
                        <a class="page-link"
                           th:href="@{/store/list(page=0,storeName=${searchRequest.storeName},floor=${searchRequest.floor},storeType=${searchRequest.storeType})}"
                           th:text="'<<'"></a>
                    </li>
                    <li class="page-item" th:if="${pages.number > 0}">
                        <a class="page-link"
                           th:href="@{/store/list(page=${pages.number - 1},storeName=${searchRequest.storeName},floor=${searchRequest.floor},storeType=${searchRequest.storeType})}"
                           th:text="'<'"></a>
                    </li>

                    <li class="page-item" th:each="page : ${#numbers.sequence(0, pages.totalPages - 1)}">
                        <a class="page-link"
                           th:href="@{/store/list(page=${page},storeName=${searchRequest.storeName},floor=${searchRequest.floor},storeType=${searchRequest.storeType})}"
                           th:text="${page + 1}"
                           th:classappend="${page == pages.number} ? 'active'"></a>
                    </li>

                    <li class="page-item" th:if="${pages.number + 1 < pages.totalPages}">
                        <a class="page-link"
                           th:href="@{/store/list(page=${pages.number + 1},storeName=${searchRequest.storeName},floor=${searchRequest.floor},storeType=${searchRequest.storeType})}"
                           th:text="'>'"></a>
                    </li>
                    <li class="page-item" th:if="${pages.number + 1 < pages.totalPages}">
                        <a class="page-link"
                           th:href="@{/store/list(page=${pages.totalPages - 1},storeName=${searchRequest.storeName},floor=${searchRequest.floor},storeType=${searchRequest.storeType})}"
                           th:text="'>>'"></a>
                    </li>
                </ul>
            </nav>

        </div>
    </div>
</div>
</div>
</body>
</html>