<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<head>
    <title>Store-Detail</title>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <style>
        .review-chart {
            width: 500px;
            margin: 0 auto;
        }

        .feedbacks {
            display: flex;
            align-items: center;
        }

        .required-feedback, .optional-feedback {
            width: 100%;
            margin-bottom: 1rem;
        }

        .justify-content-center {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
        }
    </style>
</head>

<body>
<div layout:fragment="content">
    <div class="container-fluid pt-4 px-4">
        <div class="bg-light text-center rounded p-4 my-2">

            <h3> 매장 관리자 정보</h3>

            <div class="bg-light rounded h-100 p-4">
                <div class="row mb-3">
                    <label for="inputManagerName" class="col-sm-3 col-form-label">매장 관리자 이름 : </label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="inputManagerName"
                               th:value="${storeResponse.managerName()}"
                               readonly>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="inputManagerUsername" class="col-sm-3 col-form-label">매장 관리자 아이디 : </label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="inputManagerUsername"
                               th:value="${storeResponse.managerUsername()}" readonly>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="inputManagerBusinessNumber" class="col-sm-3 col-form-label">매장 관리자 사업자 번호 : </label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="inputManagerBusinessNumber"
                               th:value="${storeResponse.businessNumber()}" readonly>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="inputManagerCreatedAt" class="col-sm-3 col-form-label">매장 관리자 생성일 : </label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="inputManagerCreatedAt"
                               th:value="${storeResponse.managerCreatedAt()}" readonly>
                    </div>
                </div>
            </div>
        </div>


        <div class="bg-light text-center rounded p-4 my-2">

            <h3> 매장 정보</h3>

            <div class="bg-light rounded h-100 p-4">

                <div class="d-flex justify-content-center">
                    <div class="col-6 ">
                        <div class="row mb-3">
                            <label for="inputStoreName" class="col-sm-3 col-form-label">매장 이름</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="inputStoreName"
                                       th:value="${storeResponse.name()}" readonly>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="inputStoreType" class="col-sm-3 col-form-label">매장 타입</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="inputStoreType"
                                       th:value="${storeResponse.storeType()}" readonly>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="inputStoreFloor" class="col-sm-3 col-form-label">층수</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="inputStoreFloor"
                                       th:value="${storeResponse.floor().getFloor()} + 층" readonly>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="inputStoreOperatingTime" class="col-sm-3 col-form-label">운영 시간</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="inputStoreOperatingTime"
                                       th:value="${storeResponse.operatingTime()}"
                                       readonly>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="inputStoreContactNumber" class="col-sm-3 col-form-label">연락처</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="inputStoreContactNumber"
                                       th:value="${storeResponse.contactNumber()}"
                                       readonly>
                            </div>
                        </div>
                    </div>
                    <div class="ml-4 align-self-center">
                        <!-- 매장 로고 (이미지) 추가 -->
                        <div class="row mb-4">
                            <label for="inputStoreLogo" class="col-sm-4 col-form-label align-content-center">매장
                                로고</label>
                            <div class="col-sm-8">
                                <img th:src="${storeResponse.imagePath()}" class="img-fluid" id="inputStoreLogo">
                            </div>
                        </div>
                        <!-- 이미지 변경 버튼 -->
                        <div class="row m-2">
                            <div class="col">
                                <form action="/store/logo" method="POST" enctype="multipart/form-data">
                                    <input class="col-8" type="file" name="logo" accept="image/*" id="logoInput">
                                    <input type="hidden" id="storeId" name="storeId" th:value="${storeResponse.id()}">
                                    <button class="col-3 img-update-btn btn btn-primary" type="submit" id="submitBtn"
                                            disabled>이미지 변경
                                    </button>
                                </form>
                            </div>
                        </div>
                        <script>
                            document.getElementById('logoInput').addEventListener('change', function () {
                                var submitBtn = document.getElementById('submitBtn');
                                submitBtn.disabled = !this.files.length;  // Disable button if no files are selected
                            });
                        </script>
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="inputStoreContents" class="col-sm-2 col-form-label align-content-center">매장 소개</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputStoreContents"
                               th:value="${storeResponse.contents()}"
                               readonly>
                    </div>
                </div>
                <!-- 매장 안내도(이미지) 추가 -->
                <div class="row mb-3">
                    <label for="inputStoreGuideMap" class="col-sm-2 col-form-label align-content-center">매장 안내도</label>
                    <div class="col-sm-10">
                        <img th:src="${storeResponse.storeGuideMap()}" class="img-fluid" id="inputStoreGuideMap">
                    </div>
                </div>
            </div>

            <!-- 매장 정보 수정 버튼(모달 생성) -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editStoreModal">
                매장 정보 수정
            </button>

            <!-- 매장 정보 수정 모달 -->
            <div class="modal fade" id="editStoreModal" tabindex="-1" aria-labelledby="editStoreModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="editStoreModalLabel">매장 정보 수정</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <!-- 매장 정보 수정 양식 -->
                            <form method="POST" id="modifyStoreForm"
                                  th:action="@{'/store/' + ${storeResponse.id()} + '/modify'}"
                                  th:object="${StoreModifyRequest}">
                                <div class="mb-3">
                                    <label for="modifiedinputStoreName" class="form-label">매장 이름</label>
                                    <input type="text" class="form-control" id="modifiedinputStoreName" name="storeName"
                                           th:value="${storeResponse.name()}" readonly>
                                </div>
                                <div class="mb-3">
                                    <label for="modifiedinputStoreOperatingTime" class="form-label">운영 시간</label>
                                    <input type="text" class="form-control" id="modifiedinputStoreOperatingTime"
                                           name="operatingTime"
                                           th:value="${storeResponse.operatingTime()}">
                                </div>
                                <div class="mb-3">
                                    <label for="modifiedinputStoreContactNumber" class="form-label">연락처</label>
                                    <input type="text" class="form-control" id="modifiedinputStoreContactNumber"
                                           name="contactNumber"
                                           th:value="${storeResponse.contactNumber()}">
                                </div>
                                <div class="mb-3">
                                    <label for="modifiedinputStoreContents" class="form-label">매장 소개</label>
                                    <input type="text" class="form-control" id="modifiedinputStoreContents"
                                           name="contents"
                                           th:value="${storeResponse.contents()}">
                                </div>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                                <button type="submit" class="btn btn-primary">저장</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <script>
            $(document).ready(function () {
                // 페이지가 로드되면 AJAX 요청을 보냅니다.
                var storeId = $('#storeId').val(); // 상점 ID를 가져옵니다.

                $.ajax({
                    type: "GET",
                    url: "/feedback/" + storeId, // 상점 ID를 URL에 포함시킵니다.
                    success: function (data) {
                        // AJAX 요청이 성공하면 받은 데이터를 처리합니다.
                        // 받은 데이터는 StoreFeedbackResponse의 배열일 것입니다.
                        // 각 객체에서 reviewFeedbackSelection과 count를 사용할 수 있습니다.
                        var totalReviewCount = 0;
                        if (data.length === 0) {
                            $('.feedback').append('<div class="d-flex justify-content-center">피드백이 없습니다.</div>');
                            return;
                        }
                        ;

                        data.forEach(function (feedback) {
                            totalReviewCount += feedback.count;
                        });

                        var feedbackHtml = '';
                        data.forEach(function (feedback) {
                            var width = (feedback.count / totalReviewCount * 100); // 프로그레스 바 너비 계산
                            var selection = feedback.reviewFeedbackSelection;
                            feedbackHtml += '<div class="justify-content-center">';
                            feedbackHtml += '<div class="col align-self-center me-1">' + selection + '</div>';
                            feedbackHtml += '<div class="progress my-2 col" style="height: 40px;">';
                            feedbackHtml += '<div class="progress-bar" role="progressbar" style="width: ' + width + '%" ';
                            feedbackHtml += 'aria-valuenow="' + width + '" aria-valuemin="0" aria-valuemax="100">' + feedback.count + '개</div>';
                            feedbackHtml += '</div>';
                            feedbackHtml += '</div>';
                        });
                        $('.feedback').append(feedbackHtml);
                    },
                    error: function (xhr, status, error) {
                        // AJAX 요청이 실패하면 에러 메시지를 출력합니다.
                        console.error(xhr.responseText);
                    }
                });

                $.ajax({
                    type: "GET",
                    url: "/feedback/required/" + storeId, // 상점 ID를 URL에 포함시킵니다.
                    success: function (data) {
                        // AJAX 요청이 성공하면 받은 데이터를 처리합니다.
                        // 받은 데이터는 StoreFeedbackResponse의 배열일 것입니다.
                        // 각 객체에서 reviewFeedbackSelection과 count를 사용할 수 있습니다.
                        var totalReviewCount = 0;
                        if (data.length === 0) {
                            $('.required-feedback').append('<div class="d-flex justify-content-center">피드백이 없습니다.</div>');
                            return;
                        }
                        ;

                        data.forEach(function (feedback) {
                            totalReviewCount += feedback.count;
                        });

                        var feedbackHtml = '';
                        data.forEach(function (feedback) {
                            var width = (feedback.count / totalReviewCount * 100); // 프로그레스 바 너비 계산
                            var selection = feedback.reviewFeedbackSelection;
                            feedbackHtml += '<div class="justify-content-center">';
                            feedbackHtml += '<div class="col-4 align-self-center mx-1">' + selection + '</div>';
                            feedbackHtml += '<div class="progress my-2 col" style="height: 40px;">';
                            feedbackHtml += '<div class="progress-bar fw-bolder" role="progressbar" style="width: ' + width + '%" ';
                            feedbackHtml += 'aria-valuenow="' + width + '" aria-valuemin="0" aria-valuemax="100">' + feedback.count + '개</div>';
                            feedbackHtml += '</div>';
                            feedbackHtml += '</div>';
                        });
                        $('.required-feedback').append(feedbackHtml);
                    },
                    error: function (xhr, status, error) {
                        // AJAX 요청이 실패하면 에러 메시지를 출력합니다.
                        console.error(xhr.responseText);
                    }
                });

                $.ajax({
                    type: "GET",
                    url: "/feedback/optional/" + storeId, // 상점 ID를 URL에 포함시킵니다.
                    success: function (data) {
                        var totalReviewCount = 0;
                        if (data.length === 0) {
                            $('.optional-feedback').append('<div class="d-flex justify-content-center">피드백이 없습니다.</div>');
                            return;
                        }
                        ;

                        data.forEach(function (feedback) {
                            totalReviewCount += feedback.count;
                        });

                        var feedbackHtml = '';
                        data.forEach(function (feedback) {
                            var width = (feedback.count / totalReviewCount * 100); // 프로그레스 바 너비 계산
                            var selection = feedback.reviewFeedbackSelection;
                            feedbackHtml += '<div class="justify-content-center">';
                            feedbackHtml += '<div class="col-4 align-self-center mx-1">' + selection + '</div>';
                            feedbackHtml += '<div class="progress my-2 col" style="height: 40px;">';
                            feedbackHtml += '<div class="progress-bar fw-bolder" role="progressbar" style="width: ' + width + '%" ';
                            feedbackHtml += 'aria-valuenow="' + width + '" aria-valuemin="0" aria-valuemax="100">' + feedback.count + '개</div>';
                            feedbackHtml += '</div>';
                            feedbackHtml += '</div>';
                        });
                        $('.optional-feedback').append(feedbackHtml);
                    },
                    error: function (xhr, status, error) {
                        // AJAX 요청이 실패하면 에러 메시지를 출력합니다.
                        console.error(xhr.responseText);
                    }
                });

                $.ajax({
                    url: "/chart/store/" + storeId, // 상점 ID를 URL에 포함시킵니다.
                    type: "GET",
                    success: function (data) {
                        const labels = ['Positive', 'Negative', 'Neutral'];
                        let positiveReviewCount = 0;
                        let negativeReviewCount = 0;
                        let neutralReviewCount = 0;

                        data.forEach(item => {
                            positiveReviewCount += (item.positiveReviewCount);
                            negativeReviewCount += (item.negativeReviewCount);
                            neutralReviewCount += (item.neutralReviewCount);
                        });

                        const chartCanvas = document.getElementById('monthlyReview');
                        new Chart(chartCanvas, {
                            type: 'pie',
                            data: {
                                labels : labels,
                                datasets: [{
                                    data: [positiveReviewCount, negativeReviewCount, neutralReviewCount],
                                    backgroundColor: ['rgba(0, 156, 255, .5)', 'rgba(255, 0, 0, .5)', 'rgba(255, 255, 0, .5)']
                                }]
                            }
                        });
                    },
                    error: function (xhr, status, error) {
                        // Log any errors to the console
                        console.error('Error fetching data:', error);
                    }
                });
            });
        </script>

        <div class="bg-light text-center rounded p-4 my-2">
            <div>
                <h3>피드백 정보</h3>
            </div>
            <div class="bg-light rounded h-100">
                <div class="feedbacks d-flex">
                    <div class="required-feedback"></div>
                    <div class="optional-feedback"></div>
                </div>
                <div class="review-chart col align-middle">
                    <canvas id="monthlyReview"></canvas>
                </div>
            </div>
        </div>
    </div>


</div>
</body>
</html>