<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<head>
    <title>Home</title>

    <!-- JQUERY LIBRARY -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <style>
        .review-content {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: normal;
            line-height: 1.5; /* 줄 간격 조절 */
            max-height: 3em; /* 2줄의 높이를 설정 (line-height * 2) */
        }

        .review-count {
            font-size: small;
        }
    </style>
</head>

<body>
<div layout:fragment="content">
    <div class="container-fluid pt-4 px-4">

        <!-- mall review Chart Start -->
        <div class="col-sm-12 col-xl-12 m-2">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">쇼핑몰 전체 리뷰</h6>
                <canvas id="reviewCountChart"></canvas>
            </div>
        </div>

        <script>
            $(document).ready(function () {
                // Ajax request to fetch data
                $.ajax({
                    url: '/chart/mall/review-count', // 실제 데이터를 가져올 URL로 수정해야 합니다.
                    type: 'GET',
                    dataType: 'json',
                    success: function (data) {
                        // 데이터 배열 초기화
                        var labels = [];
                        var totalReviewCount = [];
                        var positiveReviewCount = [];
                        var negativeReviewCount = [];
                        var neutralReviewCount = [];

                        // 데이터를 추출하여 배열에 저장
                        for (var i = 0; i < data.length; i++) {
                            console.log(data[i].reviewYear + '-' + data[i].reviewMonth + ' : ' + data[i].reviewCount);
                            labels.push(data[i].reviewYear + '-' + data[i].reviewMonth);
                            totalReviewCount.push(data[i].reviewCount);
                            positiveReviewCount.push(data[i].positiveReviewCount);
                            negativeReviewCount.push(data[i].negativeReviewCount);
                            neutralReviewCount.push(data[i].neutralReviewCount);
                        }

                        // 차트 생성
                        var ctx = document.getElementById('reviewCountChart').getContext('2d');
                        var myChart = new Chart(ctx, {
                            type: 'line',
                            data: {
                                labels: labels,
                                datasets: [
                                    {
                                        label: "Positive",
                                        data: positiveReviewCount,
                                        backgroundColor: "rgba(0, 156, 255, .5)",
                                        borderColor: "rgba(0, 156, 255, .5)",
                                        borderWidth: 2,
                                        // fill: true
                                    },
                                    {
                                        label: "Negative",
                                        data: negativeReviewCount,
                                        backgroundColor: "rgba(255, 0, 0, .5)",
                                        borderColor: "rgba(255, 0, 0, .5)",
                                        borderWidth: 2,
                                        // fill: true
                                    },
                                    {
                                        label: "Neutral",
                                        data: neutralReviewCount,
                                        backgroundColor: "rgba(255, 255, 0, .5)",
                                        borderColor: "rgba(255, 255, 0, .5)",
                                        borderWidth: 2,
                                        // fill: true
                                    },
                                    {
                                        label: 'Total',
                                        data: totalReviewCount,
                                        backgroundColor: "rgba(0, 255, 0, .5)",
                                        borderColor: "rgba(0, 255, 0, .5)",
                                        borderWidth: 2,
                                        // fill: true
                                    }
                                ]
                            }
                        });
                    },
                    error: function (xhr, status, error) {
                        // Log any errors to the console
                        console.error('Error fetching data:', error);
                    }
                });
            });
        </script>


        <!-- Widgets Start -->
        <div class="container-fluid pt-4 px-4">
            <div class="row g-4">
                <div class="col-sm-12 col-md-6 col-xl-4">
                    <div class="h-100 bg-light rounded p-4">
                        <div class="d-flex align-items-center justify-content-between mb-2">
                            <h6 class="mb-0">Recent</h6>
                        </div>
                        <!-- Ajax로 내용이 로드됩니다 -->
                        <div id="recent-review-container"></div>
                    </div>
                </div>

                <div class="col-sm-12 col-md-6 col-xl-4">
                    <div class="h-100 bg-light rounded p-4">
                        <div class="d-flex align-items-center justify-content-between mb-2">
                            <h6 class="mb-0">Popular User</h6>
                        </div>
                        <div id="popular-user-container"></div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-xl-4">
                    <div class="h-100 bg-light rounded p-4">
                        <div class="d-flex align-items-center justify-content-between mb-4">
                            <h6 class="mb-0">Popular Store</h6>
                        </div>
                        <div id="popular-store-container"></div>
                    </div>
                </div>
            </div>
        </div>

        <script th:inline="javascript">
            $(document).ready(function () {
                $.ajax({
                    url: '/review/user/recent',
                    method: 'GET',
                    success: function (data) {
                        data.forEach(function (review) {
                            $('#recent-review-container').append(`
                        <div class="d-flex align-items-center pt-3">
                            <img class="rounded-circle flex-shrink-0" src="${review.userImagePath}" alt="User Profile" style="width: 40px; height: 40px;">
                            <div class="w-100 ms-3">
                                <div class="d-flex w-100 justify-content-between">
                                    <h6 class="mb-0">${review.userName}</h6>
                                    <small>팔로워 : ${review.followerCount}</small>
                                    <small>팔로잉 : ${review.followingCount}</small>
                                </div>
                                <span class="review-content">${review.contents}</span>
                            </div>
                        </div>
                    `);
                        });
                    },
                    error: function (error) {
                        console.error("사용자 프로필을 가져오는 중 오류가 발생했습니다!", error);
                    }
                });
            });

            $(document).ready(function () {
                $.ajax({
                    url: '/follow/user/popular',
                    method: 'GET',
                    success: function (data) {
                        data.forEach(function (data) {
                            $('#popular-user-container').append(`
                        <div class="d-flex align-items-center pt-3">
                            <img class="rounded-circle flex-shrink-0" src="${data.imagePath}" alt="User Profile" style="width: 40px; height: 40px;">
                            <div class="w-100 ms-3">
                                <div class="d-flex w-100 justify-content-between">
                                    <h6 class="mb-0">${data.userName}</h6>
                                    <small>팔로워 : ${data.followerCount}</small>
                                    <small>팔로잉 : ${data.followingCount}</small>
                                </div>
                                <span class="review-content">작성한 리뷰 수 : ${data.reviewCount}</span>
                            </div>
                        </div>
                    `);
                        });
                    },
                    error: function (error) {
                        console.error("사용자 프로필을 가져오는 중 오류가 발생했습니다!", error);
                    }
                });
            });

            $(document).ready(function () {
                $.ajax({
                    url: '/review/store/popular',
                    method: 'GET',
                    success: function (data) {
                        data.forEach(function (data) {
                            $('#popular-store-container').append(`
                        <div class="d-flex align-items-center pt-3">
                            <img class="flex-shrink-0" src="${data.storeImage}" alt="User Profile" style="width: 40px; height: 40px;">
                            <div class="w-100 ms-3">
                                <div class="w-100">
                                    <h6 class="mb-0">${data.storeName}</h6>
                                    <small>${data.mallName} ${data.floor}층</small>
                                </div>
                                <div class="d-flex w-100 justify-content-start">
                                <span class="review-count">total : ${data.reviewCount}</span>
                                <span class="review-count mx-3">positive : ${data.positiveReviewCount}</span>
<!--                                <span class="review-count">negative : ${data.negativeReviewCount}</span>-->
                                </div>
                            </div>
                        </div>
                    `);
                        });
                    },
                    error: function (error) {
                        console.error("사용자 프로필을 가져오는 중 오류가 발생했습니다!", error);
                    }
                });
            });
        </script>
        <!-- Widgets End -->
    </div>
</div>
</body>
</html>