<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<head>
    <title>Reward-List</title>

    <!-- JQUERY LIBRARY -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <style>
        .form-group {
            text-align: left;

        }

        .reward-container {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
            gap: 1rem;
        }

        .reward-item {
            border: 1px solid #e9ecef;
            border-radius: 10px;
            padding: 1rem;
            background-color: #e3e5e8;
        }

        .reward-name {
            position: relative;
        }

        .reward-date {
            position: absolute;
            right: 0;
        }

        .image-container {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 300px; /* Set a fixed height for all images */
            overflow: hidden;
        }

        .image-container img {
            width: 100%;
            height: 100%;
            object-fit: fill;
        }

        .addReward {
            position: absolute;
            left: 0;
        }

        .page-num {
            position: relative;
        }
    </style>
</head>

<body>
<div layout:fragment="content">
    <div id="mallName"></div>

    <script th:inline="javascript">
        $(document).ready(function () {

            // 페이지 로드 시 AJAX 요청
            $.ajax({
                url: '/complexmall/name',
                type: 'GET',
                dataType: 'text',
                success: function (data) {
                    // 수신된 데이터로 결과 div 업데이트
                    $('#mallName').html('<h1>' + data + ' 매장 리스트</h1>');
                },
                error: function (xhr, status, error) {
                    // 오류 처리
                    console.error('Error:', error);
                }
            });


            $('#openAddRewardModal').click(function() {
                $('#rewardCreateModal').modal('show');
            });
        });

        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function(e) {
                    document.getElementById('imagePreview').src = e.target.result;
                    document.getElementById('imagePreview').style.display = "block";
                };
                reader.readAsDataURL(input.files[0]);
            } else {
                document.getElementById('imagePreview').src = "";
            }
        }

    </script>


    <div class="container-fluid pt-4 px-4">
        <div class="bg-light text-center rounded p-4">

            <form action="#" th:action="@{/rewards/list}" th:object="${searchRequest}" method="get">
                <div class="form-group mt-2">
                    <label for="sortType">Sort Type:</label>
                    <select th:field="*{sortType}" class="form-control" id="sortType">
                        <option value="">Select a sortType</option>
                        <option th:each="sortType : ${T(com.ssg.starroadadmin.reward.enums.RewardSortType).values()}"
                                th:value="${sortType}" th:text="${sortType.getField()}">
                        </option>
                    </select>
                    <div class="form-group mt-2">
                        <label for="rewardName">Reward Name:</label>
                        <input type="text" th:field="*{rewardName}" class="form-control" id="rewardName"
                               placeholder="Enter store name">
                    </div>
                    <button type="submit" class="m-2 btn btn-primary">Search</button>
                </div>
            </form>
        </div>

        <div class="bg-light text-center rounded px-4 pt-4 my-3">
            <!-- 리스트 출력 -->
            <div class="reward-container">
                <div th:if="${rewardList.isEmpty()}">
                    <p>No rewards available.</p>
                </div>
                <div th:each="reward, iterStat : ${rewardList}">
                    <div class="reward-item" th:onclick="|location.href='@{/rewards/detail/}' + ${reward.id()}|">
                        <div class="d-flex align-items-center reward-name">
                            <span th:text="${reward.name()}" class="fs-4">Reward Name</span>
                            <div class="reward-date">
                                <p th:text="'생성일 : ' + ${reward.createdAt().toLocalDate()}" class="fs-6 m-1">Created
                                    At</p>
                                <p th:text="'수정일 : ' + ${reward.modifiedAt().toLocalDate()}" class="fs-6 m-1">Updated
                                    At</p>
                            </div>
                        </div>
                        <div class="d-flex align-items-center image-container m-1">
                            <!-- 리워드 이미지 -->
                            <img th:if="${reward.rewardImagePath() != null}" th:src="${reward.rewardImagePath()}">
                            <img th:unless="${reward.rewardImagePath() != null}" src="/img/starroad-1-no-text.png">
                        </div>
                    </div>
                </div>
            </div>

            <nav class="page-num d-flex justify-content-center mt-3" aria-label="Page navigation">
                <button type="button" class="mb-3 btn btn-primary addReward" id="openAddRewardModal" data-toggle="modal" data-target="#rewardCreateModal">
                    리워드 추가
                </button>

                <!-- Add Reward Modal -->
                <div class="modal fade" id="rewardCreateModal" tabindex="-1" role="dialog" aria-labelledby="rewardCreateModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="rewardCreateModalLabel">리워드 추가</h5>
                            </div>
                            <div class="modal-body">
                                <form id="createRewardForm" action="/rewards/create" enctype="multipart/form-data" method="post">
                                    <div class="form-group">
                                        <label for="createRewardName">리워드 이름</label>
                                        <input type="text" class="form-control" id="createRewardName"
                                               name="createRewardName" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="createRewardImage">리워드 이미지</label>
                                        <input type="file" class="form-control" id="createRewardImage"
                                               name="createRewardImage" accept="image/*" onchange="readURL(this)" required>
                                        <img id="imagePreview" style="max-width: 100%; margin-top: 20px; display: none;">
                                    </div>
                                    <button type="submit" id="reward-create-button" class="btn btn-primary mt-3">저장</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <ul class="pagination">
                    <li class="page-item" th:if="${pages.number > 0}">
                        <a class="page-link"
                           th:href="@{/rewards/list(page=0,storeName=${searchRequest.rewardName},storeType=${searchRequest.sortType})}"
                           th:text="'<<'"></a>
                    </li>
                    <li class="page-item" th:if="${pages.number > 0}">
                        <a class="page-link"
                           th:href="@{/rewards/list(page=${pages.number - 1},storeName=${searchRequest.rewardName},storeType=${searchRequest.sortType})}"
                           th:text="'<'"></a>
                    </li>

                    <li class="page-item" th:each="page : ${#numbers.sequence(0, pages.totalPages - 1)}">
                        <a class="page-link"
                           th:href="@{/rewards/list(page=${pages.number},storeName=${searchRequest.rewardName},storeType=${searchRequest.sortType})}"
                           th:text="${page + 1}"
                           th:classappend="${page == pages.number} ? 'active'"></a>
                    </li>

                    <li class="page-item" th:if="${pages.number + 1 < pages.totalPages}">
                        <a class="page-link"
                           th:href="@{/rewards/list(page=${pages.number + 1},storeName=${searchRequest.rewardName},storeType=${searchRequest.sortType})}"
                           th:text="'>'"></a>
                    </li>

                    <li class="page-item" th:if="${pages.number + 1 < pages.totalPages}">
                        <a class="page-link"
                           th:href="@{/rewards/list(page=${pages.totalPages - 1},storeName=${searchRequest.rewardName},storeType=${searchRequest.sortType})}"
                           th:text="'>>'"></a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>



</body>
</html>